.navbar-right(ng-controller='navBarCtrl')
    form.navbar-form(ng-hide='identity.isAuthenticated()')
        .form-group
        input.form-control(placeholder='Email',ng-model='Username')
        .form-group
        input.form-control(type='password',placeholder='Password',ng-model='Password')
        button.btn.btn-primary(ng-disabled='',ng-click='signin(Username,Password)') Sign In